<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_Bai1::menu" title="Manage Rooms" module="Test_Bai1" sortOrder="41" resource="Test_Bai1::menu"/>
        <add id="Test_Bai1::post" title="Add Rooms" module="Test_Bai1" sortOrder="10" action="helloworld/post/add" resource="Test_Bai1::post" parent="Test_Bai1::menu"/>
        <add id="Test_Bai1::list" title="List Rooms" module="Test_Bai1" sortOrder="20" parent="Test_Bai1::menu" action="helloworld/post/index" resource="Test_Bai1::list"/>
    </menu>
</config>